@model dynamic

@{
    ViewBag.Title = "All Fitnesses";
    Layout = "_Layout";
}

<h2>All Fitnesses</h2>


<div id="allFitnesses">
    
</div>


<button id="refresh" class="btn btn-primary" type="button">Refresh</button>


@section Scripts
{
    <script src="js/fitness/index.js"></script>
}
